@mixin bookmark-tail($placement: bottom, $width: 50px) {
  $transparent-border: top;
  @if $placement == top {
    $transparent-border: bottom;
  }

  content: '';
  position: absolute;
  left: 100%;
  #{$placement}: 0;
  border-left: $width solid $colour-secondary;
  border-#{$transparent-border}: $width solid transparent;
}

@mixin bookmark-arrow($width: 50px) {
  content: '';
  position: absolute;
  left: 100%;
  border: $width solid transparent;
  border-left: $width solid $colour-secondary;
}

.bookmark {
  $height: 3em;

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: $height;
  padding: 0 40px;

  .bookmark-content {
    margin: 0;
  }

  .bookmark-background {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $colour-secondary;
    filter: drop-shadow($shadow);

    &::before {
      @include bookmark-arrow($height / 2);
    }

    &::after {
      // @include bookmark-tail(bottom, 70px);
    }
  }
}
