.pdf-footer {
  @include background-cover('../../../assets/pdf-footer.svg', top center);

  display: flex;
  position: relative;
  align-items: center;
  height: 5em;
  padding-top: 3em;

  .orca-watermark {
    @include center-content;

    position: absolute;
    right: 50%;
    bottom: 1em;
    transform: translateX(50%);

    .author {
      display: block;

      &::after {
        content: '|';
        padding: .5em;
        color: $colour-secondary;
      }
    }

    img.orca-logo {
      max-height: 2em;
    }
  }
}
