@import './bookmark';

.pdf-header {
  @include background-cover('../../../assets/pdf-header.svg', bottom center);

  display: flex;
  position: relative;
  justify-content: center;
  height: 4em;
  padding: 2em 0;

  .title {
    margin: 0;
  }

  .subtitle {
    position: absolute;
    top: 1em;
    right: 2em;
    margin: 0;
  }

  .pdf-logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    pdf-logo {
      @include center-content;
      height: 100px;
      padding: 10px;
      border-radius: 5px;
      background-color: $header-text-colour;
      box-shadow: $shadow;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .bookmark {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(1); // creates stacking context
  }
}
