$sizes: (
  a4: (210mm, 297mm),
  a3: (297mm, 420mm)
);

@import './pdf-preview';

pdf-report {
  @import './colours';
  @import './mixins';
  @import './typography';
  @import './pdf-background';
  @import './pdf-body';
  @import './header';
  @import './footer';
  @import './table';

  @import '../../pdf-card/pdf-card';

  @each $name, $dimensions in $sizes {
    &.#{$name}.portrait .pdf-root {
      width: nth($dimensions, 1);
      height: nth($dimensions, 2);
    }

    &.#{$name}.landscape .pdf-root {
      width: nth($dimensions, 2);
      height: nth($dimensions, 1);
    }
  }

  .pdf-root {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    margin: 0;
    overflow: hidden;
    color: $text-colour;
  }

  .pdf-footer,
  .pdf-header {
    width: 100%;
    color: $header-text-colour;
  }
}
