pdf-report {
  @import './colours';
  @import './mixins';
  @import './typography';
  @import './pdf-body';
  @import './header';
  @import './footer';
  @import './table';

  @import '../../pdf-card/pdf-card';

  .pdf-root {
    @include background-cover('../../../assets/pdf-background.svg');

    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    color: $text-colour;
  }

  .pdf-footer,
  .pdf-header {
    width: 100%;
    color: $header-text-colour;
  }
}
