.pdf-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  transform: scale(1); // new stacking context

  pdf-body {
    display: flex;
    position: relative;
    flex-flow: row nowrap; // wrap unsupported in wkhtmltopdf@~0.13
    align-items: center;
    justify-content: center;

    + pdf-body {
      margin-top: 20px;
    }
  }

  .background-text {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    color: $background-text-colour;
    font-size: 20em;
  }
}
