.pdf-body-container {
  display: flex;
  flex-grow: 1;
  transform: scale(1); // new stacking context
}

.pdf-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  min-height: max-content;
  overflow: hidden;

  pdf-body {
    display: flex;
    position: relative;
    flex-flow: row nowrap; // wrap unsupported in wkhtmltopdf@~0.13
    align-items: center;
    justify-content: center;

    + pdf-body {
      margin-top: 20px;
    }
  }
}
