$odd-row-background: #eee;

table {
  width: 100%;
  border-collapse: collapse;

  tbody td,
  thead th {
    white-space: nowrap;
  }

  &.form-table {
    tbody tr td:nth-of-type(n+3),
    thead {
      display: none;
    }

    tbody tr {
      &:not(:first-of-type) td {
        padding-top: .5em;
      }

      td:first-of-type {
        width: 35%;
        padding-right: 20px;
        text-align: right;
      }
    }
  }

  &:not(.form-table) {
    tbody td,
    thead th {
      padding: .5em 20px;
      text-align: left;

      &:last-of-type {
        text-align: right;
      }
    }

    thead th {
      font-weight: 800;
    }

    tbody tr:nth-child(odd) {
      background-color: $odd-row-background;
    }
  }
}
