@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.pdf-root {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  h1,
  h2 {
    font-weight: 400;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  $text-colours: primary $colour-primary, secondary $colour-secondary, success $colour-success, warning $colour-warning, danger $colour-secondary;
  @each $name, $colour in $text-colours {
    .text-#{$name} {
      color: $colour;
    }
  }
}
