<pdf-report format="[controls.size, controls.orientation]" hook="viewer.clones[$index] = $clone ; viewer.contents[$index] = $contents" preview="{{controls.preview}}" ng-init="editScope = { name: 'Pontault-Combault', date: '15 Mai 1990' }; config = {}">
    <pdf-title><contenteditable-x model="config.title" scope="editScope">{{name}}</contenteditable-x></pdf-title>
    <pdf-subtitle><contenteditable-x model="config.subtitle" scope="editScope">au {{date}}</contenteditable-x></pdf-subtitle>
    <pdf-bookmark><contenteditable-x model="config.bookmark">Infos sécurité</contenteditable-x></pdf-bookmark>
    <pdf-body>
        <pdf-card ng-repeat="card in cards track by $index" close="cards.splice(cards.indexOf(card), 1)" edit="cards.splice(cards.indexOf(card), 1, card + 1)">
            <card-title>Card #{{card}}</card-title>
            <card-body>Some random content...</card-body>
        </pdf-card>
        <pdf-card add="cards.push(cards.length + 1)" ng-init="cards = []" live-only></pdf-card>
    </pdf-body>
    <pdf-footer>
    </pdf-footer>
</pdf-report>
