pdf-report {
  @import './colours';
  @import './typography';
  @import './pdf-body';
  @import './headers';

  .pdf-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-image: url('../assets/pdf-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
