@import './colours';
@import './typography';
@import './main-body';
@import './headers';

body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.ccjmne-sleek-background,
[ccjmne-sleek-background],
ccjmne-sleek-background {
  background-image: url('../assets/ccjmne-sleek-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
