@import './bookmark';

$header-text-colour: white;

@mixin background-cover($url, $position) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: $position;
  background-size: cover;
}

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdf-footer,
.pdf-header {
  width: 100%;
  height: 200px;
  color: $header-text-colour;
}

.pdf-header {
  @include background-cover('../assets/pdf-header.svg', bottom center);
  @include center-content;
  position: relative;

  .pdf-logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

    pdf-logo {
      @include center-content;
      height: 100px;
      padding: 10px;
      border-radius: 5px;
      background-color: $header-text-colour;
      box-shadow: $shadow;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .bookmark {
    position: absolute;
    top: 40px;
    left: 0;
    transform: scale(1); // creates stacking context
  }
}

.pdf-footer {
  @include background-cover('../assets/pdf-footer.svg', top center);

  display: flex;
  align-items: center;

  .orca-watermark {
    @include center-content;

    position: absolute;
    right: 50%;
    bottom: 1em;
    transform: translateX(50%);

    .author {
      display: block;

      &::after {
        content: '|';
        padding: .5em;
        color: $colour-secondary;
      }
    }

    img.orca-logo {
      max-height: 2em;
    }
  }
}
