pdf-report:not([preview=true]) {
  all: unset;

  .live-only,
  [live-only] {
    display: inline-block !important; // scss-lint:disable ImportantRule
  }

  .print-only,
  [print-only] {
    display: none !important; // scss-lint:disable ImportantRule
  }

  [content-editable]::after,
  [contenteditable]::after {
    content: ' ✏️';
  }

  .pdf-body-container {
    overflow: auto !important; // scss-lint:disable ImportantRule
  }
}
