$card-background: white;
$card-radius: 5px;

pdf-card {
  display: block;

  + pdf-card {
    margin-left: 20px;
  }
}

.card {
  overflow: hidden;
  border: 1px solid $colour-primary;
  border-radius: $card-radius;

  &:not(.card-add) {
    min-width: 500px;
    background: $card-background;
    box-shadow: $shadow;
  }

  &.card-add {
    @include center-content;

    box-sizing: border-box;
    padding: 20px 35px;
    border-style: dashed;
    background: none;
    box-shadow: none;
    color: $colour-primary;
    font-size: 3em;
    cursor: pointer;

    &:hover {
      background: lighten($shadow-colour, 50%);
    }
  }

  .card-title {
    @include background-cover('../../../assets/pdf-headers-background.svg', bottom center);
    @include center-content;

    color: $header-text-colour;

    > h2 {
      display: inline-block;
      margin: 10px;
    }
  }

  .card-body {
    display: block;
    padding: 20px;

    + .card-tables {
      border-top: 1px solid $shadow-colour;
    }
  }

  .card-tables {
    display: block;
    width: 100%;

    table + table {
      border-left: 1px solid $shadow-colour;
    }

    @for $i from 1 through 4 {
      table:first-child:nth-last-child(#{$i}) {
        &,
        & ~ table {
          width: 100% / $i;
          float: left;
        }
      }
    }
  }
}
