$card-background: white;
$card-radius: 5px;

pdf-card {
  display: block;

  + pdf-card {
    margin-left: 20px;
  }
}

.card {
  position: relative;
  overflow: hidden;
  border: 1px solid $colour-primary;
  border-radius: $card-radius;

  &:not(.card-add) {
    min-width: 500px;
    background: $card-background;
    box-shadow: $shadow;

    .card-hover {
      @include center-content;

      position: absolute;
      top: 0;
      right: -60px;
      bottom: 0;
      transition: all .2s;
      border-left: 1px solid $colour-primary;
      opacity: 0;
      background-color: opacify($shadow-colour, .3);
      cursor: pointer;

      .card-close::before {
        content: '\00d7';
        padding: 20px;
        color: $header-text-colour;
        font-size: 3em;
      }
    }

    &:hover .card-hover {
      right: 0;
      opacity: 1;
    }
  }

  &.card-add {
    @include center-content;

    box-sizing: border-box;
    padding: 20px 35px;
    border-style: dashed;
    background: none;
    box-shadow: none;
    color: $colour-primary;
    font-size: 3em;
    cursor: pointer;

    &:hover {
      background: lighten($shadow-colour, 50%);
    }
  }

  .card-title {
    @include background-cover('../../../assets/pdf-headers-background.svg', bottom center);
    @include center-content;

    color: $header-text-colour;

    > h2 {
      display: inline-block;
      margin: 10px;
    }
  }

  .card-body {
    display: block;
    padding: 20px;

    + .card-tables {
      border-top: 1px solid $shadow-colour;
    }
  }

  .card-tables {
    display: flex;
    width: 100%;

    card-table {
      display: block;
      flex-grow: 1;

      &:not(:last-of-type) table {
        border-right: 1px solid $shadow-colour;
      }
    }
  }
}
