$card-background: white;
$card-radius: 5px;

card {
  display: block;

  + card {
    margin-top: 20px;
  }
}

.card {
  min-width: 500px;
  overflow: hidden;
  border: 1px solid $colour-primary;
  border-radius: $card-radius;
  background: $card-background;
  box-shadow: $shadow;

  .card-title {
    @include background-cover('../assets/pdf-header.svg', bottom center);
    @include center-content;

    padding-bottom: 10px;
    color: $header-text-colour;

    > h2 {
      display: inline-block;
    }
  }

  .card-body {
    display: block;
    padding: 20px;

    + .card-tables {
      border-top: 1px solid $shadow-colour;
    }
  }

  .card-tables {
    display: block;
    width: 100%;

    table + table {
      border-left: 1px solid $shadow-colour;
    }

    @for $i from 1 through 4 {
      table:first-child:nth-last-child(#{$i}) {
        &,
        & ~ table {
          width: 100% / $i;
          float: left;
        }
      }
    }
  }
}
