$card-background: white;
$card-radius: 5px;

.card {
  min-width: 500px;
  overflow: hidden;
  border: 1px solid $shadow-colour;
  border-radius: $card-radius;
  background: $card-background;
  box-shadow: $shadow;

  .card-title {
    @include background-cover('../assets/pdf-header.svg', bottom center);
    @include center-content;
    padding-bottom: 10px;
    color: $header-text-colour;

    > h2 {
      display: inline-block;
    }
  }

  .card-body {
    padding: 20px;
  }
}
