<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Webpack Playground</title>
        <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
        </style>
    </head>

    <body ng-app="pdf-reports">
        <pdf-report pdf-contents="contents" ng-init="editScope = { name: 'Pontault-Combault', date: '15 Mai 1990' }; config = {}">
            <pdf-title><contenteditable-x model="config.title" scope="editScope">{{name}}</contenteditable-x></pdf-title>
            <pdf-subtitle><contenteditable-x model="config.subtitle" scope="editScope">au {{date}}</contenteditable-x></pdf-subtitle>
            <pdf-bookmark><contenteditable-x model="config.bookmark">Infos sécurité</contenteditable-x></pdf-bookmark>
            <pdf-body no-print>
                <p>All the elements marked with a ✏️ can be edited.</p>
            </pdf-body>
            <pdf-body>
                <pdf-card>
                    <card-title>Tableau de Bord</card-title>
                    <card-body>
                        <table class="form-table">
                            <tbody>
                                <tr>
                                    <td>Departement</td>
                                    <td class="text-primary">Direction Regionale IDF</td>
                                </tr>
                                <tr>
                                    <td>Nombre d'agents</td>
                                    <td><strong>587</strong> (555 <span class="text-success">CDI</span> + 32 <span class="text-warning">CDD</span>)</td>
                                </tr>
                            </tbody>
                        </table>
                    </card-body>
                    <card-table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Aptitude</th>
                                    <th>Cible à atteindre</th>
                                    <th>Formés</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-{{cert.validityStatus}}" ng-repeat="cert in [
                                  {name: 'Agent d\'évacuation', validityStatus: 'danger', valid: 21, validPercent: 3, target: 177, targetPercent: 30},
                                  {name: 'Formateur SST', validityStatus: 'success', valid: 7, validPercent: 1, target: 0, targetPercent: 0},
                                  {name: 'Sauveteurs Secouristes du Travail', validityStatus: 'warning', valid: 58, validPercent: 9, target: 59, targetPercent: 10}]">
                                    <td>{{cert.name}}</td>
                                    <td>{{cert.target}} ({{cert.targetPercent}}%)</td>
                                    <td>{{cert.valid}} ({{cert.validPercent}}%)</td>
                                </tr>
                            </tbody>
                        </table>
                    </card-table>
                </pdf-card>
            </pdf-body>
            <pdf-body>
                <pdf-card>
                    <card-title>Équipement de Première Intervention</card-title>
                    <card-body>This one just has a simple body, no table.</card-body>
                </pdf-card>
                <pdf-card>
                    <card-title>Sauveteurs Secouristes du Travail</card-title>
                    <card-body>This one has a body and two tables.</card-body>
                    <card-table ng-repeat="a in [1, 2]">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Expiry date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="empl in [{name: 'eric', until: '2017-05-15'}, {name: 'noelie', until: '2016-06-26'}, {name: 'francois', until: '1994-11-29'}]">
                                    <td>{{empl.name}}</td>
                                    <td class="text-primary">{{empl.until}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </card-table>
                </pdf-card>
            </pdf-body>
            <pdf-body>
                <pdf-card>
                    <card-title>Agents d'Évacuation</card-title>
                    <card-table>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Expiry date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="empl in [{name: 'eric', until: '2017-05-15'}, {name: 'noelie', until: '2016-06-26'}, {name: 'francois', until: '1994-11-29'}]">
                                    <td>{{empl.name}}</td>
                                    <td class="text-primary">{{empl.until}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </card-table>
                </pdf-card>
                <pdf-card ng-repeat="card in cards track by $index" close="cards.splice(cards.indexOf(card), 1)" edit="cards.splice(cards.indexOf(card), 1, card + 1)">
                    <card-title>Card #{{card}}</card-title>
                    <card-body>Some random content...</card-body>
                </pdf-card>
                <pdf-card add="cards.push(cards.length + 1)" ng-init="cards = []" no-print></pdf-card>
            </pdf-body>
            <pdf-footer>
                <get-pdf pdf-contents="contents" no-print></get-pdf>
            </pdf-footer>
        </pdf-report>
    </body>

</html>
